.container{    
    width:45%; 
    margin-left:57%; 
    
    height: auto;
    font-style: italic;
    /* color:grey; */
   
}
.wrk
{
    margin-top: 2%;
    width: 90%;
    background-image: url("/assets/images/farmercropsell.png") ;
    background-image: 100%;
    background-repeat: no-repeat, repeat;
     margin-left:3%;
    /*margin-right:5%;*/
}

.bg-overlay3 {
    padding: 11px 0 20px;
    background-color: RGBA(15, 5, 20, 0.84);
}
