
<div class="banner3" id="banner3">
    <div class="bg-overlay2">
<div class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3>Approve Auctions</h3>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <th>BiddingID</th>
        <th>Bidder Id</th>
        <th>Farmer id</th>
        <th>CropName</th>
        <th>Quantity</th>
        <th>InitalPrice</th>
        <th>CurrentBidPrice</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let b of unapprovedbids">
            <td>{{b.Biddingid}}</td>
            <td>{{b.Bidderid}}</td>
            <td>{{b.Farmerid}}</td>
            <td>{{b.CropName}}</td>
            <td>{{b.Quantity}}</td>
            <td>{{b.InitalPrce}}</td>
            <td>{{b.CurrentBidPrice}}</td>
            <td><button type="button" class="contact-button2" style="background:green;" (click)="approveauction(b.Biddingid)">Approve Auction</button></td>
        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
<!-- <br>
<br>
<br>
<br>
<br>
<div class="contact" id="contact">
    <div class="container">
<table border="1" width="100%" cellspacing="0" cellpadding>
    <tr>
        <th>BiddingID</th>
        <th>Bidder Id</th>
        <th>Farmer id</th>
        <th>CropName</th>
        <th>Quantity</th>
        <th>InitalPrice</th>
        <th>CurrentBidPrice</th>

    </tr>
        <tr *ngFor="let b of unapprovedbids">
            <td>{{b.Biddingid}}</td>
            <td>{{b.Bidderid}}</td>
            <td>{{b.Farmerid}}</td>
            <td>{{b.CropName}}</td>
            <td>{{b.Quantity}}</td>
            <td>{{b.InitalPrce}}</td>
            <td>{{b.CurrentBidPrice}}</td>
             <td>{{b.BidCloseTime}}</td>
            <td><button type="button" (click)="approveauction(b.Biddingid)">Approve Auction</button></td>
        </tr>
</table>
</div>
</div> -->