<div class="banner" id="banner">
    <div class="bg-overlay">
        <div class="container">
            <div class="row" style="height: 300px;">
                <div class="body">
                    <div class="card" (click)="gotoaprrovefarmer()">
                        <div class="gradient" style="background-image: linear-gradient(0deg, #0703fa, transparent);"></div>
                        <div class="info">
                            <div class="text">Approve</div>
                            <div class="title">Farmers</div>
                        </div>
                    </div>

                    <div class="card" (click)="gotoaprrovebidder()">
                        <div class="gradient" style="background-image: linear-gradient(0deg, #009ece, transparent);"></div>
                        <div class="info">
                            <div class="text">Approve</div>
                            <div class="title">Bidders</div>
                        </div>
                    </div>

                    <div class="card" (click)="gotoaprrovecrop()">
                        <div class="gradient" style="background-image: linear-gradient(0deg, #6203fa, transparent);"></div>
                        <div class="info">
                            <div class="text">Approve</div>
                            <div class="title">Crop Sell</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 500px;">
                <div class="body">
                    <div class="card" (click)="gotoaprroveauction()">
                        <div class="gradient" style="background-image: linear-gradient(0deg, #0703fa, transparent);"></div>
                        <div class="info">
                            <div class="text">Finalise</div>
                            <div class="title">Auction</div>
                        </div>
                    </div>
                    <div class="card" (click)="gotoaprroveclaim()">
                        <div class="gradient" style="background-image: linear-gradient(0deg,#009ece, transparent);"></div>
                        <div class="info">
                            <div class="text">Approve</div>
                            <div class="title">Insuarance</div>
                        </div>
                    </div>
                    <div class="card" (click)="gotomsg()">
                        <div class="gradient" style="background-image: linear-gradient(0deg, #6203fa, transparent);"></div>
                        <div class="info">
                            <div class="text">View</div>
                            <div class="title">Messages</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>