* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: 250px;
    width: 170px;
    margin-right: 3rem;
    cursor: pointer;
    min-width: 230px;
}

.card:hover .gradient {
    opacity: 1;
}

.gradient {
    background-image: linear-gradient(0deg, #0703fa, transparent);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
    margin-top: 2rem;
}

.text {
    font-size: 2.1em;
}

.title {
    font-size: 2.2em;
    font-weight: 700;
}

.time {
    position: absolute;
    bottom: 0;
    padding: 2rem;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}