<span class="border border-dark">
    <div id="callMe" class="form1">
        <div class="container">
            <h1 style="color: #fff;">INSURANCE APPLICATION</h1>
            <div class="row">
                <div class="col-lg-6">
                    <h2 style="text-align: center;">Insurance Application Form</h2>

                    <form #insuranceapp="ngForm" (ngSubmit)="onSubmit(insuranceapp)">
                        
                        <div class="form-group">
                            <label for="Season">Enter Season</label>

                            <select #Season="ngModel" class="form-control-input" [(ngModel)]=insurancedetails.Season
                                id="Season" name="Season" required>
                                <option value="KHARIF">KHARIF</option>
                                <option value="RABI">RABI</option>
                                <option value="HORTICULTURE">HORTICULTURE</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="Year">Enter Year</label>
                            <input #Year="ngModel" type="text" class="form-control-input"
                                [(ngModel)]=insurancedetails.Year id="Year" name="Year" required>

                            <div *ngIf="Year.invalid && (Year.dirty|| Year.touched)">
                                <div *ngIf="Year.errors.required" style="color:red;" class="help-block with-errors">Year
                                    is
                                    required!</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="CropName">Enter Crop</label>
                            <select class="form-control-input" name="CropName" id="CropName" [(ngModel)]="insurancedetails.CropName" #CropName="ngModel" required>
                             <optgroup *ngFor = 'let grp of dataSource' label="{{grp.group}}">
                                <option *ngFor = 'let item of grp.items' [value]="item.id">{{item.name}}</option> 
                                </optgroup>
                                </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="Area">Enter Area</label>
                            <input #Area="ngModel" type="number" class="form-control-input"
                                [(ngModel)]=insurancedetails.Area id="Area" name="Area" required>

                            <div *ngIf="Area.invalid && (Area.dirty|| Area.touched)">
                                <div *ngIf="Area.errors.required" style="color:red;" class="help-block with-errors">Area
                                    is
                                    required!</div>
                            </div>
                        </div>

                        <div class="form-message">
                            <div id="lmsgSubmit" class="h3 text-center hidden"></div>
                        </div>

                        <div class="item">
                            <input type="reset" class="form-control-reset-button" value="RESET">
                        </div>

                        <div class="item">
                            <button type="submit" class="form-control-submit-button">Submit</button>
                        </div>

                    </form>
                    
                    <br><br><br><br><br>
                    <table border="1" width="100%" cellspacing="0" cellpadding>
                        <tr>
                            <th>Insurance Company</th>
                            <th>Sum Insured(per Hectare)</th>
                            <th>Premium Amount</th>
                            <th>Crop Name</th>
                            <th>Area</th>
                            <th>Sum Insured</th>
                                                
                        </tr>
                            <tr *ngFor="let data of DetailsOfInsurance">
                                <td>{{data.CompanyName}}</td>
                                <td>{{data.SumAssuredPerHec}}</td>
                                <td>{{data.Premium}}</td>
                                <td>{{data.CropName}}</td>
                                <td>{{data.Area}}</td>
                                <td>{{data.SumAssured}}</td>
                            </tr>
                    </table>

                        <br><br><br><br>
                        <button type="submit" class="form-control-submit-button" (click)="InsuranceData()">Apply</button><br><br>
                    
                </div>
            </div>
        </div>
    </div>
</span>