<p>home-faq works!</p>

<div class="banner" id="banner">
    <div class="bg-overlay2">

        <div class="faqcontainer">
            <div class="row">
                <div class="banner-text">
                    <h2>Frequently Asked Questions?<span>FAQ</span></h2>
                    <p style="text-align: left;">
                        Q1: What is Insurance ? <br>Ans: Insurance is a tool to protect you against a small probability of a large unexpected loss. It is a technique of providing people a means to transfer and share risk where losses suffered by few are
                        met from the funds accumulated through small contributions made by many who are exposed to similar risks. Insurance is not a tool to make money but a tool to help compensate an individual or business for unexpected losses that
                        might otherwise cause a financial disaster.
                    </p><br>
                    <p style="text-align: left;">
                        Q2: What is Crop Insurance ?<br> Ans: Crop insurance is a means of protecting the agriculturist against financial losses due to uncertainties that may arise from crop failures/losses arising from named or all unforeseen perils
                        beyond their control.
                    </p><br>
                    
                        Q3. Objective of PMFBY ? <br> Ans: Pradhan Mantri Fasal Bima Yojana (PMFBY) aims at supporting sustainable production in agriculture sector by way of -
                        <ol>
                            <li>providing financial support to farmers suffering crop loss/damage arising out of unforeseen events</li>
                            <li>stabilizing the income of farmers to ensure their continuance in farming</li>
                            <li>encouraging farmers to adopt innovative and modern agricultural practices</li>
                            <li>ensuring flow of credit to the agriculture sector;which will contribute to food security, crop diversification and enhancing growth and competitiveness of agriculture sector besides protecting farmers from production risks.</li>
                        </ol>

                     <br>
                    <p style="text-align: left;">
                        Q4: What is Weather based Crop Insurance ? <br> Ans: Weather Based Crop Insurance aims to mitigate the hardship of the insured farmers against the likelihood of financial loss on account of anticipated crop loss resulting from
                        incidence of adverse conditions of weather parameters like rainfall, temperature, frost, humidity etc.
                    </p><br>
                    <p style="text-align: left;">
                        Q5.How many Coverage of Crops ? <br> Ans: 1) Food crops (Cereals, Millets and Pulses)<br> 2) Oilseeds<br> 3) Annual Commercial / Annual Horticultural crops
                    </p><br>
                    <p style="text-align: left;">
                        Q6. What are Sum Insured /Coverage Limit ? <br> Ans: 1. Sum Insured per hectare for both loanee and non-loanee farmers will be same and equal to the Scale of Finance as decided by the District Level Technical Committee, and would
                        be pre-declared by SLCCCI and notified. No other calculation of Scale of Finance will be applicable. Sum Insured for individual farmer is equal to the Scale of Finance per hectare multiplied by area of the notified crop proposed
                        by the farmer for insurance. ‘Area under cultivation’ shall always be expressed in ‘hectare’. 2. Sum insured for irrigated and un-irrigated areas may be separate
                    </p><br>
                    <p style="text-align: left;">
                        Q7.What is Premium Rates and Premium Subsidy ? <br> Ans: 1. The Actuarial Premium Rate (APR) would be charged under PMFBY by implementing agency (IA). The rate of Insurance Charges payable by the farmer will be as per the following
                        table:</p>
                        <table class="table">
                            <thead>
                                <th>Sno.</th>
                                <th>Season</th>
                                <th>Crops</th>
                                <th>Maximum Insurance charges payable by farmer (% of Sum Insured)</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Kharif</td>
                                    <td>All foodgrain and Oilseeds crops(all Cereals, Millets, Pulses and Oilseeds crops)</td>
                                    <td>2.0% of SI or Actuarial rate, whichever is less</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Rabi</td>
                                    <td>All foodgrain and Oilseeds crops(all Cereals, Millets, Pulses and Oilseeds crops)</td>
                                    <td>1.5% of SI or Actuarial rate, whichever is less</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Kharif and Rabi</td>
                                    <td>Annual Commercial / Annual Horticultural crops</td>
                                    <td>5% of SI or Actuarial rate, whichever is less</td>
                                </tr>
                            </tbody>
                        </table>
                     <br>
                    
                        Q9. How many companies providing Crop Insurance ?<br> Ans:
                        <ul>
                            <li>Agriculture Insurance Company</li>
                            <li>Cholamandalam MS General Insurance Company</li>
                            <li>Reliance General Insurance Co. Ltd.</li>
                            <li>Bajaj Allianz</li>
                            <li>Future Generali India Insurance Co. Ltd.</li>
                            <li>HDFC ERGO General Insurance Co. Ltd.</li>
                            <li>IFFCO Tokio General Insurance Co. Ltd.</li>
                        </ul>
                
                </div>
            </div>
        </div>

<br><br><br>

        </div>
        </div>
