.container{
    width: 35%;
    height: 30%;
    margin-top: 5%;
    margin-left: 55%;
    margin-right: 5%;
    padding-left: 2%;
    padding-bottom: 2%;
    /* text-align: center; */
    border: 3px solid #73AD21;
}

.form-control{
    width: 400px;
}

img{
    padding-top: 10%;
}

label,input{
    color: white;
    font-size: 15px;
}

h3{
    color:white;
}