<div id="myme" style="background-image: url('../assets/images/forgot-pass-bg.jpg');background-color: RGBA(15, 5, 20, 0.84);background-attachment: fixed;
 background-repeat: no-repeat; background-size: cover;">
<div class="bg-overlay1">
    <br>
    <div class="col-md-6">
        <div class="counter-item text-center">
            <br><br><br>
            <img src="assets/images/password-reset.jpg" alt="about" width="60%" height="70%" class="center" />
        </div>
    </div>

    <div class="container">
        <!-- <div class="col-lg-7 px-5 pt-5"> -->
        <center>
            <h3>Forgot Password</h3>
        </center>
        <br>
        <form [formGroup]="forgetPasswordOTPForm" (ngSubmit)="doChange()">
            <div class="form-row">
                <div class="form-group col-lg-7">
                    <label> Email : </label>
                    <input type="text" class="form-control" formControlName="useremail" size="80">
                    <div *ngIf="l.useremail.errors && l.useremail.touched" class="text-danger">
                        <div *ngIf="l.useremail.errors.required">Email is required</div>
                        <div *ngIf="l.useremail.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-7">
                    <button class="btn btn-primary" (click)=getOtp()>{{buttonname}}</button><br><br><br>
                    <div *ngIf="otpstatus">
                        <label> OTP : </label>
                        <input type="text" class="form-control" formControlName="otp">
                        <div *ngIf="l.otp.errors && l.otp.touched" class="text-danger">
                            <div *ngIf="l.otp.errors.required">OTP is required</div>
                            <div *ngIf="l.otp.errors.pattern">OTP must be of 4 digits</div>
                            <!--<div *ngIf = "l.otp.errors.minlength && l.otp.errors.maxlength">OTP is of 4 numbers</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="from-group col-lg-7">
                    <label> New Password : </label>
                    <input type="password" class="form-control" formControlName="newpassword">
                    <div *ngIf="l.newpassword.errors && l.newpassword.touched" class="text-danger">
                        <div *ngIf="l.newpassword.errors.required">Password is required</div>
                        <div *ngIf="l.newpassword.errors.minlength">Password must be of minimum 6 characters</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="from-group col-lg-7">
                    <br>
                    <label> Confirm New Password : </label>
                    <input type="password" class="form-control" formControlName="confirmnewpassword">
                    <div *ngIf="l.confirmnewpassword.errors && l.confirmnewpassword.touched" class="text-danger">
                        <div *ngIf="l.confirmnewpassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="l.confirmnewpassword.errors.mustmatch">Password must match</div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-lg-7">
                    <br>
                    <button class="btn btn-primary">Change Password</button>
                </div>
            </div>
        </form>
        <br>
        <br>
        <!-- </div> -->
    </div>
    <br><br><br><br><br><br><br>
</div>