<div class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3>Approve Insuarance Claim</h3>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <th>Claim id</th>
                        <th>Policy No</th>
                        <th>Cause Of Claim</th>
                        <th>Date Of Loss</th>
                        <th>Date Of Claim</th>
                        <th>Amount Claimed</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of unapprovedclaims">
                            <td>{{c.Cliamid}}</td>
                            <td>{{c.PolicyNo}}</td>
                            <td>{{c.CauseOfClaim}}</td>
                            <td>{{c.DateOfLoss}}</td>
                            <td>{{c.DateOfClaim}}</td>
                            <td>{{c.AmountClaimed}}</td>
                            <td>{{c.SumAssured}}</td>
                            <td><button type="button" class="btn btn-success" (click)="approveClaim(c.Cliamid)">Approve Claim</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>