<div class="banner" id="banner">
    <div class="bg-overlay">
        <div class="container">
            <div class="row" style="height: 300px;">
                <div class="body">
                    <div class="card" (click)="gotoCropRequest()">
                        <div class="gradient" style="background-image: linear-gradient(0deg, #0703fa, transparent);"></div>
                        <div class="info">
                            <div class="text">Sell</div>
                            <div class="title">Crop</div>
                        </div>
                    </div>
                    <div class="card" (click)="gotosalehistory()">
                        <div class="gradient" style="background-image: linear-gradient(0deg, #009ece, transparent);"></div>
                        <div class="info">
                            <div class="text">Sale</div>
                            <div class="title">History</div>
                        </div>
                    </div>

                    <div class="card" (click)="gotoFarmerMaret()">
                        <div class="gradient" style="background-image: linear-gradient(0deg, #6203fa, transparent);"></div>
                        <div class="info">
                            <div class="text">See</div>
                            <div class="title">Marketplace</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" style="height: 500px;">
                <div class="body">
                    <div class="card" (click)="GotoInsuranceApply()">
                        <div class="gradient" style="background-image: linear-gradient(0deg, #6203fa, transparent);"></div>
                        <div class="info">
                            <div class="text">Apply</div>
                            <div class="title">Insuarance</div>
                        </div>
                    </div>
                    <div class="card" (click)="GotoClaimInsurance()">
                        <div class="gradient" style="background-image: linear-gradient(0deg, #009ece, transparent);"></div>
                        <div class="info">
                            <div class="text">Claim</div>
                            <div class="title">Insuarance</div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>