<br>
<br>
<br>
<br>
<br>
<div class="wrk2" >
<div class="form-1">
    <div class ="container">
            <form role="form" #Insclaim="ngForm" (ngSubmit)="claimRequest(Insclaim)">
            
            <div class ="form-group">
                <label for="PolicyNo">Policy Number</label>
                <input type="number" #PolicyNo="ngModel" class="form-control" 
                [(ngModel)]=insclaim.PolicyNo id="PolicyNo" name="PolicyNo" required>
                <div *ngIf="PolicyNo.value === null">
                    <div style="color: red;">Policy Number required</div>
                </div>
            </div>
            
            
            <div class ="form-group">
                <label for="CauseOfClaim">Cause Of Claim</label>
                <input type="text" #CauseOfClaim="ngModel" class="form-control" 
                [(ngModel)]=insclaim.CauseOfClaim id="CauseOfClaim" name="CauseOfClaim" required>
                <div *ngIf="CauseOfClaim.invalid && (CauseOfClaim.dirty || CauseOfClaim.touched)">
                    <div *ngIf="CauseOfClaim.errors.required " style="color: red;">
                    Loss Cause required</div>
                </div> 
            </div>

            <div class ="form-group">
                <label for="AmountClaimed">Claim Amount</label>
                <input type="number"  class="form-control" 
                [(ngModel)]=insclaim.AmountClaimed #AmountClaimed="ngModel" id="AmountClaimed" name="AmountClaimed" required> 
                <div *ngIf="AmountClaimed.value <= 1">
                    <div style="color: red;">Amount should be greater than 0</div>
                </div> 
            </div>

            <div>
                <label for ="DateOfLoss"> Loss Date</label> 
                <input type="date"  #DateOfLoss="ngModel" class ="form-control" 
                [(ngModel)]=insclaim.DateOfLoss id="DateOfLoss" name="DateOfLoss" required 
                max="2020-12-31">
            </div>
        
            <br>
            <div>
                <label for ="DateOfClaim"> Claim Date</label> 
                <input type="date"  #DateOfClaim="ngModel" class ="form-control" 
                [(ngModel)]=insclaim.DateOfClaim id="DateOfClaim" name="DateOfClaim" required
                max="2020-12-31">        
            </div>
            <br>
        <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </div>
</div>

<br>

<div class ="w">
<table border ="1" cellpadding="21" cellspacing="50" width="80%" >
        <tr>
            <th>PolicyNo</th>
            <th>Season</th>
            <th>Year</th>
            <th>Crop</th>
            <th>SumInsured</th>
            <th>Date Of Insurance</th>
        </tr>

        <tr *ngFor="let f of listinsurance">
            <td>{{f.PolicyNo}}</td>
            <td>{{f.Season}}</td>
            <td>{{f.Year}}</td>
            <td>{{f.Crop}}</td>
            <td>{{f.SumInsured}}</td>
            <td>{{f.DateOfInsurance}}</td>
        </tr>
</table>
<div>
<br>
<br>
<br>