
<div class="banner" id="banner">
    <div class="bg-overlay2">

<h2><p style="text-align: center;">Welcome to Farmer Market Place</p></h2>


<div class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="text-center">
                    <h3></h3>
                </div> -->
            </div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <th style="text-align:center">CropType</th>
            <th style="text-align:center">CropName</th>
            <th style="text-align:center">Quantity</th>
            <th style="text-align:center">Minimum Sale Price</th>
            <th style="text-align:center">Auction Date</th>
            <th style="text-align:center">Selling Price</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let f of farmermarketdetails">
                            <td>{{f.CropType}}</td>
                            <td>{{f.CropName}}</td>
                            <td>{{f.Quantity}} Quintals</td>
                            <td>₹ {{f.InitalPrce}}</td>
                            <td>{{f.BidCloseTime|date:'shortDate'}}</td>
                            <td>₹ {{f.CurrentBidPrice}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
</div>