<!-- About -->

<div class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br><br>
                <h3>About Us</h3>
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <p style="text-align: justify;
                    text-justify: inter-word;">Crop Insurance is an integrated IT solution and a web-based ecosystem to speed up service delivery, unify fragmented databases, achieve a single view of data, and eliminate manual processes. Crop Insurance provides insurance services
                        to farmers faster than before. </p>
                    <p style="text-align: justify;
                    text-justify: inter-word;">The Government is endeavouring for the integration of all the stakeholders viz. farmers, insurance companies, financial institutions & Government agencies on single IT platform. This will ensure better administration, coordination
                        & transparency for getting real time information and monitoring. </p>
                    <p style="text-align: justify;
                    text-justify: inter-word;">
                        This is a stable, secure and seamlessly integrated ecosystem created with a comprehensive view of data in a secure environment thereby enabling information access to multiple stakeholders viz. Farmers, Govt. Functionaries, Insurance Companies, Intermediaries,
                        Bankers and social & community bodies.
                    </p>
                    <p style="text-align: justify;
                    text-justify: inter-word;">
                        Crop Insurance portal has enabled the digitization of notification of areas, crops, schemes for enabling information access to multiple stakeholders thereby facilitating ease of access to the farmers in availing crop insurance services. This automated
                        solution has opened a window of opportunity to remote and economically-weak farmers to benefit from crop insurance services.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="counter-item text-center">
                    <br>
                    <img src="assets/images/aboutus.jpg" alt="about" width="80%" height="80%" />
                    <div class="timer" data-from="0" data-to="55" data-speed="5000" data-refresh-interval="50"></div>
                </div>
            </div>
        </div>
    </div>
</div>