<div class="banner" id="banner">
    <div class="bg-overlay">
        <div class="container">
            <div class="row">
                <div class="body">
                    <div class="card">
                        <div class="gradient" style="background-image: linear-gradient(0deg, #0703fa, transparent);"></div>
                        <div class="info" (click)="gotomarket()">
                            <div class="text">See</div>
                            <div class="title">Marketplace</div>
                        </div>
                    </div>

                    <div class="card" (click)="gotosalehistory()">
                        <div class="gradient" style="background-image: linear-gradient(0deg, #009ece, transparent);"></div>
                        <div class="info">
                            <div class="text">Transaction</div>
                            <div class="title">History</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>