<div class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3>Approve Crop Sell</h3>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <th>Request Id</th>
                        <th>Farmer Id</th>
                        <th>Crop Type</th>
                        <th>Crop Name</th>
                        <th>Fertilizer Type</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of unapprovedcrops">
                            <td>{{c.Requestid}}</td>
                            <td>{{c.Farmerid}}</td>
                            <td>{{c.CropType}}</td>
                            <td>{{c.CropName}}</td>
                            <td>{{c.FertilizerType}}</td>
                            <td>{{c.Quantity}}</td>
                            <td><button type="button" class="btn btn-success" (click)="approveCrop(c.Requestid)">Approve Crop</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>