<br>
<br>

<br>
<!-- <button type="button" (click)="displaycrop()">fetch details</button>
<table border="1" width="100%" cellspacing="0" cellpadding>
    <tr>
        <th>BiddingID</th>
        <th>CropType</th>
        <th>CropName</th>
        <th>InitalPrce</th>
        <th>CurrentBidPrice</th>
        <th>BidCloseTime</th>


    </tr>
        <tr *ngFor="let b of currentcrops">
            <td>{{b.Biddingid}}</td>
            <td>{{b.CropType}}</td>
            <td>{{b.CropName}}</td>
            <td>{{b.InitalPrce}}</td>
            <td>{{b.CurrentBidPrice}}</td>
            <td>{{b.BidCloseTime}}</td>
            <td><button type="button" (click)="placebid()">Go to Auction</button></td>
        </tr>
</table> -->
<div style="text-align:center">
<div>
    <img src={{imagetodisplay}}  width="300" height="300"/>
</div>
<div>
    <b>Bidding id:</b> {{currentcrop.Biddingid}}<br>
    <b>CropType: </b>{{currentcrop.CropType}}<br>
    <b>CropName:</b> {{currentcrop.CropName}}<br>
    <b>Minimum Sale Price:</b> {{currentcrop.InitalPrce}}<br>
    <b>Current Price:</b> {{currentcrop.CurrentBidPrice}}<br>
    <b>BidCloseTime:</b> {{currentcrop.BidCloseTime}}<br>
</div>

<div>
    <form #auctionplacebid="ngForm" (ngSubmit)="onSubmit(auctionplacebid)">
                        
        <div class="form-group">
            <label for="BidPrice">Enter Bid</label>
            <input #BidPrice="ngModel" type="number" class="form-control-input"
                [(ngModel)]=auctionprice.BidPrice id="BidPrice" name="BidPrice" required>


                
                <div *ngIf="BidPrice.value < currentcrop.CurrentBidPrice.value"> please enter proper values</div>
            <div *ngIf="BidPrice.invalid && (BidPrice.dirty|| BidPrice.touched)">
                <div *ngIf="BidPrice.errors.required" style="color:red;" class="help-block with-errors">BidPrice
                    is
                    required!</div>

                
            </div>
        </div>
        <div class="item">
            <button type="submit" class="form-control-submit-button">Submit</button>
        </div>

    </form>
</div>
</div>